@charset "utf-8";
@font-face {
    font-family: 'font-logo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}
/*font do google */
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');

body{
    font-family: Arial,sans-serif;
    background-color: #dddddd;
    color:rgba(0,0,0,1);
}
p{
    text-align: justify;
    text-indent: 50px;
}
a{
    color: #606060;
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: underline;
}
/*Formatação da interface*/
div#interface{
    width: 1000px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5); /*sombra*/
    padding: 10px;/*espaçamento*/
}

/*Formatação do cabeçcalho*/

header#cabecalho{
    border-bottom: 1px solid #cacaca;
    height: 150px;
    background:url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 90px;
}

header#cabecalho h1{    /*Formataçao da cor,estilo e font do h1*/
    font-family: font-logo,sans-serif;
    font-size: 30px;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: Arial,sans-serif;
    color: #888888;
    font-size: 15px;
    margin-top: 0px;
}

/*oculos da pagina index*/
header#cabecalho img#icone{
    position: absolute;
    left: 950px;
    top: 40px;
}

/*Formatação de imagens*/
figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0; /*esconde a imagem no box*/
    position: absolute;
    top:0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height:100%;
    padding: 10px;
    box-sizing: border-box; /*coloca a imagem dentro de um box*/
    transition: opacity 1s; /*tempo para aparecer a legenda da imagem*/
}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/*Estilização do menu*/
nav#menu{
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform:uppercase;
    position: absolute;
    top: -15px;
    left: 500px;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 2s;
}
nav#menu li:hover{
    background-color: darkgrey;
}

nav#menu h1{
    display: none; /*Escondendo o h1*/
}
 nav#menu a{
     text-decoration: none;
     color: #000000;
 }

 nav#menu a:hover{
     color: #dddddd;
     transition: background-color .1s;
 }

    /*formatação do article*/
article#artigo-principal h1{
    font-size: 12pt;
    color: dimgrey;
    background-color: #cacaca;
    padding: 5px 0 5px 0px;
    margin: 10px 0px 10px 0px;
}

/*cabecalho*/

header#header-cabecalho h1{
    font-family: font-logo;
    font-size: 20pt;
    color: #606060;
}
header#header-cabecalho h2{
    font-family: Arial, sans-serif;
    font-size: 12pt;
    color: #606060;
}
header#header-cabecalho h3{
    font-size: 12px;
    color: #cacaca;
}

    /*Estilização da tabela de especificacão*/

table#tabela_spec{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
table#tabela_spec td{
    border: 1px solid #cacaca;
    padding: 10px;
    text-align: left;
}


    /*Classes*/

table#tabela_spec td.ce{
    color: #fff;
    background-color: dimgrey;
    vert-align: top;
    font-weight: bold;
}

table#tabela_spec td.cd{
    background-color: #cecece;
}
 table#tabela_spec caption{
     color: #888;
     font-size: 17pt;
     font-weight: bolder;
 }
 table#tabela_spec span{
     font-size: 8pt;
     margin-left: 20px;
 }

    /*Estilazação da estrutura da pagina*/
section#corpo{
    display: block;
    width: 550px;
    float: left;
    padding-right: 10px;
    border-right:1px solid #606060;
}
aside#lateral{
    display: block;
    width: 430px;
    float: right;
}
aside#lateral h1{
    font-family: font-logo;
    font-size: 20pt;
    color: #606060;
    background-color: #cacaca;
}
aside#lateral h2{
    background-color: #888888;
    font-size: 12pt;
    color: #ffffff;
    padding: 5px;
}

footer#roda-pe{
    clear: both;/*Alinha a divisao dos conteudos limpando*/
    border-top:1px solid #606060;
}
footer#roda-pe p{
    text-align: center;
}








/*
div#creditos h6{
    font-family:'Libre Barcode 39 Text', cursive;
}*/







